/* Márgenes en general para todas las páginas, letra y color por defecto */

* {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #bbf;
	font-family: monospace;
	font-size: 20px;
	box-sizing: border-box;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    place-items: center;
}

.header, .main, .aside, .footer {
	padding: 30px;
	
}

/* ######################################################################### */

/* Fondo de las páginas */

body{
  color: #222;
  background: transparent;
  background-image: repeating-linear-gradient(
  	to right,
  	 #000,  
  	 #11a,
  	 #66c, 
  	 #888,
  	 #537,
  	 #22a,
  	 #000,
  	 #000,  
  	 #11a,
  	 #66c, 
  	 #888,
  	 #537,
  	 #22a,
  	 #000
  	);
  background-size: 1000%;
  animation: fondo 10s infinite cubic-bezier(.95,.61,.18,.62) alternate-reverse;
}
@keyframes fondo{
  0%{background-position: left;
  }
  40% {
  	background-position: right;
  }
  75% {
  	background-position: top;
  }
}

/* ######################################################################### */

/* Transform y transition sacado de Instagram xD  */

.card {
	width: 224px;
	height: 224px;
	position: relative;
	background-color: transparent;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.card:hover {
	transform: rotateY(180deg);
}

.front, .back {
	height: 100%;
	width: 100%;
	background: #fff;
	position: absolute;
	backface-visibility: hidden;
	display: table-row;
	justify-content: center;
}

.front {
	background: transparent;
}

.img {
	width: 224px;
	width: 100%;
	height: 224%;
	height: 100%;
}

.back {
	transform: rotateY(180deg);
	background: transparent;
}

/* ######################################################################### */

/* Media query para el responsive */

@media screen and (min-width: 420px) {
	.content {
		display: grid;
		flex-direction: column;
	}

	.header {
		grid-column: 1 / 6;
	}

	.main {
		grid-row: 2 / 6;
		grid-column: 1 / 4;
	}

	.aside {
		grid-row: 2 / 6;
	}

	.footer {
		grid-row: 6 / 7;
		grid-column: 1 / 6;
	}

	
}

/* ######################################################################### */

/* Menú con imagen de fondo y efecto de opacidad */

.titulo {
	padding: 20px;	
	font-size: 40px;
}

label, img {
	filter: drop-shadow(16px 16px 20px #ccf);
}

#h1 {
	background-image: url('../images/fond.jpg');
	opacity: 0.95;
	border-radius: 20px;
	margin-top: 10px;

}

ul {
	margin-top: 10px;
	background-image: url('../images/fond.jpg');
	opacity: 0.95;
	border-radius: 20px;
	padding: 10px;
	height: 100%;
}

/* Logo para las páginas */

/* Tablas  */

table {
	display: inline;

}

table, td, th, p {
	opacity: 0.95;
	background-image: url('../images/fond.jpg');
	border-radius: 24px;
	line-height: 32px;
	word-spacing: 5px;
}

td, th {
	padding: 8px 8px 8px 8px;
}

/* ######################################################################### */

/* Listas  */

ul li {
	list-style: none;
	border-style: none;
	opacity: 0.7;
	color: #fff;

}

ul:hover {
	transition: all 0.7s;
	transform: scale(1.1, 1.1) translateY(-15px);
	opacity: 0.9;
}

li {
	display: inline-block;
	position: relative;	
	padding: 5px;
	border-style: ridge;
	border-radius: 10px;
	border-width: 5px;
	
}

a {
	text-decoration: none;
}

/* ######################################################################### */

/* Efecto sobre el texto de las listas */

li:hover, .foo li:hover {
	filter: drop-shadow(0.5px 0.5px 0.5px #fff);
	opacity: 0.95;
	transition: all 0.4s;
	transform: scale(1.4, 1.4) translateY(-15px);
	background: linear-gradient(#11a,#fff,#53f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ccf;  
}

/* Elementos */

p {
	opacity: 0.65;
	margin: 50px;
	font-size: 18px;
	padding: 30px;
}

/* Texto iluminado al pasar el mouse */

p:hover {
	transition: all 0.3s;
	opacity: 0.95;
	color: #fff;
}

/* ######################################################################### */

/* Elementos del form */

#suscribe {
	color: #fff;
}

label, legend {
	color: #fff;
}

option, select, input {
	color: #000;
}

legend {
	padding: 10px;
}

input {
	display: inline;
}

select, option {
	letter-spacing: 3px;
	font-size: 16px;
}


#cont {
	display: inline-block;
	opacity: 0.95;
	background-image: url('../images/fond.jpg');
	border-radius: 10px;
	padding: 10px;
	filter: drop-shadow(16px 16px 20px #aaf);
}

#comment {
	display: inline-block;
	background-image: url('../images/fond.jpg');
	opacity: 0.95;
	border-radius: 10px;
	font-size: 1.2em;
	letter-spacing: 7px;
/* 	padding: 20px; */
	filter: drop-shadow(16px 16px 20px #aaf);
}

button {
	color: #000;
	height: 40px;
	width: 80px;
}


img {
	border-style: ridge;
	border-radius: 25px;
	border-width: 8px;
/* 	margin: 4px; */
	position: relative;
	opacity: 0.95;
}

/* ######################################################################### */

/* Un filtro que se me ocurrió probar en una de las imágenes */

.main__imagen {
	height: 250px;
	width: 440px;
}

.main__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.im {
		height: 300px;
		width: 400px;
	}

textarea {
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
	background-image: url('../images/fond.jpg');
	color: #fff;
	font-size: 1.3em;
	letter-spacing: 3px;
	text-align: left;
	width: 70%;
	padding: 15px;
}

/* Puntero */

li, img {
	cursor: pointer;
}

:root {
	--animate-duration: 1.5s;
	--animate-delay: 2s;
}
