/* Márgenes en general para todas las páginas, letra y color por defecto */

* {
	margin: 0;
	padding: 0;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	place-items: center;
}


/* ######################################################################### */

/* Transform y transition sacado de Instagram xD  */

.card {
	width: 224px;
	height: 224px;
	position: relative;
	background-color: transparent;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.card:hover {
	transform: rotateY(180deg);
}

.front, .back {
	height: 100%;
	width: 100%;
	background: #fff;
	position: absolute;
	backface-visibility: hidden;
	display: table-row;
	justify-content: center;
}

.front {
	background: transparent;
}



.back {
	transform: rotateY(180deg);
	background: transparent;
}

.img {
	width: 224px;
	width: 100%;
	height: 224%;
	height: 100%;
}

/* ######################################################################### */

/* Fondo de las páginas */

body{
	color: #222;
	background: transparent;
	background-image: repeating-linear-gradient(
		to right,  
		 rgba(29, 21, 37, 0.948),
		 rgba(19, 72, 62, 0.936), 
		 rgba(20, 42, 61, 0.941),
		 rgba(40, 17, 63, 0.879),
		 rgba(23, 46, 57, 0.818),
		 rgba(12, 46, 68, 0.882),  
		 rgba(14, 15, 49, 0.958)
		);
	background-size: 1000%;
	animation: fondo 8s infinite cubic-bezier(.95,.61,.18,.62) alternate-reverse;
  }
  @keyframes fondo{
	0%{background-position: left;
	}
	40% {
		background-position: right;
	}
	75% {
		background-position: top;
	}
  }

/* ######################################################################### */
/* 
.carr {
	height: 400px;
	width: 300px;
} */

/* Puntero */

li, img {
	cursor: pointer;
}
