/* Animación del título */

h1 {
    @keyframes letra {
        0% {
            
            color: $color-h1;
        }
        20% {
            color: $color-h2;
            
        }
        35% {
            
            color: $color-h3;
        }
        65% {
            color: $color-h4;
            
        }
        100% {
            
            color: $color-h5;
            
        }
    }
    animation: letra 15s infinite ease-in-out alternate-reverse;
}
