/* Alineación de los elementos del footer */

.foo {
    div {
        justify-content: center;
        a {
            img {
                transition: 0.2s;
                margin-bottom: 20px;
                &:hover{
                    transition: 0.2s;
                    filter: invert(0.85);
                    transform: scale(1.4); 
                }
            }
        }
    }
}
