/* Div de Bienvenida a la web */

.bright {
        text-align: center;
        font-family: $botones;
        color: #fff;
        font-size: 22px;
        letter-spacing: 2px;
        border-radius: 45px;
    }
